* {
  box-sizing: border-box;
}

/* body {
  background-image: url(https://images.unsplash.com/photo-1491590324047-588cc8277f59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
} */

header {
  background-image: url(https://images.unsplash.com/photo-1491590324047-588cc8277f59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40%;
}

button,
input {
  padding: 5px;
}

input {
  margin: 5px;
}

input#max-results {
  padding: 5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="submit"] {
  width: 150px;
  height: 35px;
  background-color: lightseagreen;
  color: white;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

ul#results-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 45px;
}

p {
  font-size: 20px;
}

img {
  max-width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}
